#payments-table {
  margin-top: 1rem;

  tr {
    th {
      background: var(--color-primary);
      color: var(--color-bg);
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
    }

    td {
      text-align: center;

      .pi {
        padding: 0.5rem;
        border-radius: 50%;
      }

      .pi:not(:last-child) {
        margin-right: 10px;
      }

      .pi:hover {
        background: var(--color-primary);
        color: var(--color-bg);
      }
    }
  }
}
