/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "primeicons/primeicons.css";

/* ===============================
   Global Design Tokens
   =============================== */
:root {
  /* Colores principales */
  --color-primary: #10b981; /* Azul (para botones, enlaces) */
  --color-secondary: #2563eb; /* Verde (para éxito, confirmaciones) */
  --color-accent: #f59e0b; /* Amarillo (para advertencias) */
  --color-danger: #ef4444; /* Rojo (para errores, rechazos) */
  --color-info: #3b82f6; /* Azul claro (para info) */

  /* Colores neutrales */
  --color-bg: #f9fafb; /* Fondo general */
  --color-surface: #ffffff; /* Tarjetas, paneles */
  --color-border: #e5e7eb; /* Bordes */
  --color-text: #111827; /* Texto principal */
  --color-text-muted: #6b7280; /* Texto secundario */

  /* Modos oscuros */
  --color-bg-dark: #111827;
  --color-surface-dark: #1f2937;
  --color-border-dark: #374151;
  --color-text-dark: #f9fafb;
  --color-text-muted-dark: #9ca3af;

  /* Tipografías */
  --font-sans: "Inter", "Roboto", "Helvetica Neue", Arial, sans-serif;
  --font-mono: "Fira Code", "Courier New", monospace;

  /* Espaciado */
  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;

  /*Transiciones */
  --transition-fast: 150ms ease-in-out;
}

* {
  font-size: var(--font-sans);
  margin: 0;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

.primary-text {
  color: var(--color-primary);
}

.secondary-text {
  color: var(--color-secondary);
}

.accent-text {
  color: var(--color-accent);
}

.primary-bg {
  background: var(--color-primary);
  color: var(--color-bg);
  transition: 0.3s ease-in-out;
}

.primary-bg:hover {
  filter: brightness(70%);
}

.secondary-bg {
  background: var(--color-secondary);
  color: var(--color-bg);
}

.accent-bg {
  background: var(--color-accent);
  color: var(--color-bg);
}

.primary-border {
  border: 2px solid var(--color-primary);
}

.btn {
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
